<div class="home-container flex flex-column overflow-hidden">
  <div class="header flex align-items-center m-4">
    <p
      class="text-2xl text-600 xl:text-7xl lg:text-6xl md:text-5xl sm:text-2xl mr-2"
    >
      My shopping list
    </p>
  </div>

  <div
    class="lists flex flex-column justify-content-center align-items-center"
    style="margin-bottom: 22%"
  >
    <div class="all-lists w-full" style="min-height: 300px">
      <div *ngFor="let list of allLists; index as i" class="">
        <app-list-item [data]="list"></app-list-item>
      </div>
    </div>
    <div
      class="add-list flex bg-orange-400 ml-2 p-1 border-circle cursor-pointer my-1 text-xl xl:text-7xl lg:text-2xl md:text-xl sm:text-lg"
    >
      <i
        class="pi pi-plus p-1 xl:p-4 lg:p-4 md:p-3 sm:p-2"
        style="font-size: inherit"
      ></i>
    </div>
  </div>
</div>
