<div
  class="list-container bg-primary-reverse border-left-3 shadow-1 p-2 m-1"
  [ngClass]="data.color ? 'border-' + data.color : 'border-blue-300'"
>
  <div class="list-header flex">
    <div class="list-header-text">
      <div class="text-lg text-color xl:text-7xl lg:text-2xl md:text-xl sm:text-lg m-2">
        <span>{{ data.name }} </span>

        <div class="list-details flex text-500">
          <div
            class="text-sm text-color-secondary  xl:text-7xl lg:text-2xl md:text-xl sm:text-lg m-1"
          >
            {{ data.items.length }}
            {{ data.items.length > 1 ? "products" : "product" }}
          </div>
        </div>
      </div>
    </div>
    <div
      class="list-header-icons flex ml-auto align-items-center justify-content-center text-lg xl:text-7xl lg:text-2xl md:text-xl sm:text-lg text-600"
    >
      <i
        class="m-2 cursor-pointer"
        [ngClass]="data.isFav ? 'pi pi-heart-fill' : 'pi pi-heart'"
        style="font-size: inherit; color: inherit"
      ></i>
      <i
        class="pi pi-share-alt m-2 cursor-pointer"
        style="font-size: inherit; color: inherit"
      ></i>
    </div>
  </div>
</div>
