<div class="new-list bg-primary-reverse" style="margin-top: 16%">
  <div class="flex align-items-center">
    <div
      class="cursor-pointer m-2 text-2xl xl:text-7xl lg:text-6xl md:text-5xl sm:text-2xl text-white" (click)="onBackClick()">
      <i class="pi pi-angle-left text-color-secondary p-1 xl:p-4 lg:p-4 md:p-3 sm:p-2" style="font-size: inherit"></i>
    </div>
    <p class="text-2xl text-color-secondary xl:text-7xl lg:text-6xl md:text-5xl sm:text-2xl"> Create new list </p>
  </div>

</div>
