<div class="app-container overflow-hidden">
  <div
    class="app-header bg-primary-reverse z-2 fixed w-full flex align-items-center justify-content-center pt-2 px-2 text-2xl xl:text-7xl lg:text-6xl md:text-5xl sm:text-2xl"
  >
    <div
      class="menu align-items-center text-primary w-3rem cursor-pointer my-1 px-1"
      (click)="menu.toggle($event)"
    >
      <i
        class="pi pi-bars p-1 xl:p-4 lg:p-4 md:p-3 sm:p-2"
        style="font-size: inherit"
      ></i>
    </div>

    <div
      class="notification text-color-secondary align-items-center justify-content-center cursor-pointer p-2 xl:p-4 lg:p-4 md:p-3 sm:p-2 ml-auto"
    >
      <i
        class="pi pi-bell"
        pBadge
        severity="danger"
        style="font-size: inherit"
      ></i>
    </div>
  </div>

  <p-menu
    #menu
    [popup]="true"
    [model]="navItems"
    appendTo="body"
    styleClass="w-full h-full p-4 flex flex-column text-lg xl:text-7xl lg:text-2xl md:text-xl sm:text-lg"
  >
    <ng-template pTemplate="start">
      <div class="close-header flex">
        <div class="close-btn ml-auto" (click)="menu.toggle($event)">
          <i
            class="pi pi-times xl:p-4 lg:p-4 md:p-3 sm:p-2"
            style="font-size: inherit"
          ></i>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="submenuheader" let-item>
      <span class="font-bold">{{ item.label }}</span>
    </ng-template>
    <ng-template pTemplate="item" let-item>
      <ng-container *ngIf="item.route">
        <div
          (click)="onItemClick(item)"
          class="mt-2 p-2 w-full align-items-center;"
          [ngClass]="item.isActive ? 'surface-ground border-round-lg' : ''"
        >
          <a
            [routerLink]="item.route"
            class="p-menuitem-link"
            [ngClass]="item.isActive ? 'text-primary' : 'text-color-secondary'"
          >
            <i
              [ngClass]="item.icon"
              class="xl:p-4 lg:p-4 md:p-3 sm:p-2"
              style="font-size: inherit"
            ></i>
            <span class="ml-3">{{ item.label }}</span>
          </a>
        </div>
      </ng-container>
    </ng-template>

    <ng-template pTemplate="end">
      <div class="bottom-0 absolute align-content-end m-2 mt-4 p-2">
        <div clsaa="footer flex ">
          <span class="text-color-secondary"> Maria </span>
          <i class="text-color-secondary xl:p-4 lg:p-4 md:p-3 sm:p-2 ml-4" [ngClass]="isCurrentThemeLight ? 'pi pi-moon' : 'pi pi-sun'" style="font-size: inherit" (click)="onThemeChange(); menu.toggle($event)"></i>
        </div>
      </div>
    </ng-template>
  </p-menu>
  <router-outlet></router-outlet>
</div>
